<p class="succesmessage"><%= flash[:notice] %></p>

<p class="check">
	<strong>Title:</strong>
	<%= @book.title %>

	<br>

	<strong>Body:</strong>
	<%= @book.body %>
</p>

<a><%= link_to "Edit", edit_book_path(@book.id) %></a>
|
<%= link_to"Back", books_path %>
</body>